@font-face {
    font-family: "iconfont"; /* Project id 2821703 */
    src: url('iconfont.woff2?t=1631932197309') format('woff2'),
    url('iconfont.woff?t=1631932197309') format('woff'),
    url('iconfont.ttf?t=1631932197309') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-huifeijiaona:before {
    content: "\e680";
}

.icon-wangzhanzhanghao:before {
    content: "\e681";
}

.icon-gudingzichanhaocaigouzhi:before {
    content: "\e682";
}

.icon-jiaoshibaodingjiaocai:before {
    content: "\e683";
}

.icon-jiaoshiyunzhuomian:before {
    content: "\e684";
}

.icon-jiatingjingjikunnanxueshengrending:before {
    content: "\e685";
}

.icon-jiaoshijieyong:before {
    content: "\e686";
}

.icon-jiaozhigongkunnanbangzhujin:before {
    content: "\e687";
}

.icon-linshicheliangtonghangzheng:before {
    content: "\e688";
}

.icon-qingjia:before {
    content: "\e689";
}

.icon-kunnanjinguidang:before {
    content: "\e68a";
}

.icon-menjinquanxianshenqing:before {
    content: "\e68b";
}

.icon-shebeiyanshoudan:before {
    content: "\e68c";
}

.icon-zichanbiandongtiaobo:before {
    content: "\e68d";
}

.icon-shengriweiwen:before {
    content: "\e68e";
}

.icon-shiwuzhaoling:before {
    content: "\e68f";
}

.icon-sichegongyong:before {
    content: "\e690";
}

.icon-tonghangzhengshenqing:before {
    content: "\e691";
}

.icon-tushujiangoushenqing:before {
    content: "\e692";
}

.icon-xueshengxuejixinxigenggai:before {
    content: "\e600";
}

.icon-yuangong:before {
    content: "\e601";
}

.icon-xueshengmiankao:before {
    content: "\e602";
}

.icon-yanchangxuexinianxian:before {
    content: "\e603";
}

.icon-yumingjiexi:before {
    content: "\e605";
}

.icon-VPN:before {
    content: "\e606";
}

.icon-zhujituoguan:before {
    content: "\e607";
}

.icon-zhuanjiajiangzuo:before {
    content: "\e608";
}

.icon-zhuanzhuanye:before {
    content: "\e609";
}

.icon-baoleiji:before {
    content: "\e60a";
}

.icon-biyezhengxueweizhengyishibuban:before {
    content: "\e60b";
}

.icon-zhuanxue:before {
    content: "\e60c";
}

.icon-buxiu:before {
    content: "\e60d";
}

.icon-chengjigengzheng:before {
    content: "\e60e";
}

.icon-fuxue:before {
    content: "\e60f";
}

.icon-chengjirending:before {
    content: "\e610";
}

.icon-bumen:before {
    content: "\e611";
}

.icon-jubanpeixunban:before {
    content: "\e612";
}

.icon-genbanzhongxiu:before {
    content: "\e613";
}

.icon-jubandangke:before {
    content: "\e614";
}

.icon-kaochakechengkaohefangshishenpi:before {
    content: "\e615";
}

.icon-keyan:before {
    content: "\e616";
}

.icon-liuji:before {
    content: "\e617";
}

.icon-kechengmianting:before {
    content: "\e618";
}

.icon-mianxiu:before {
    content: "\e619";
}

.icon-tiaotingke:before {
    content: "\e61a";
}

.icon-tiaohuanrenkejiaoshi:before {
    content: "\e61b";
}

.icon-qingnianjiaoshijiaoxuejinengjingsaishenbao:before {
    content: "\e61c";
}

.icon-tuixue:before {
    content: "\e61d";
}

.icon-xinxibeian:before {
    content: "\e61e";
}

.icon-wangzhankaitong:before {
    content: "\e61f";
}

.icon-xunizhujixieyi:before {
    content: "\e620";
}

.icon-xueshenghuankao:before {
    content: "\e621";
}

.icon-xueshengkechengfenshubuchang:before {
    content: "\e622";
}

.icon-Vquxiaozanhuanjiuye:before {
    content: "\e623";
}

.icon-biyejiaoyuhuodong:before {
    content: "\e624";
}

.icon-Vguojiazhuxuejin:before {
    content: "\e625";
}

.icon-Vzanhuanjiuye:before {
    content: "\e626";
}

.icon-zuotanhuijiangzuo:before {
    content: "\e627";
}

.icon-banjizhiyuanhuodong:before {
    content: "\e628";
}

.icon-canjiaxiaowaijingsai:before {
    content: "\e629";
}

.icon-chuangxinchuangyexunlianjihua:before {
    content: "\e62a";
}

.icon-chuguojingliuxue:before {
    content: "\e62b";
}

.icon-dangyuangongzuohuiyi:before {
    content: "\e62c";
}

.icon-dangtuanzhishijuesai:before {
    content: "\e62d";
}

.icon-dangyuanzuzhiguanxizhuanyi:before {
    content: "\e62e";
}

.icon-dangzhenglianxihuiyi:before {
    content: "\e62f";
}

.icon-fuxiu:before {
    content: "\e630";
}

.icon-jianglidengji:before {
    content: "\e631";
}

.icon-gangweishenqing:before {
    content: "\e632";
}

.icon-guojiajiangxuejin:before {
    content: "\e633";
}

.icon-guowaixuexijiaoliukecheng:before {
    content: "\e634";
}

.icon-jiaoliuhui:before {
    content: "\e635";
}

.icon-keyanxiangmu:before {
    content: "\e636";
}

.icon-peixunhuodongdongyuandahui:before {
    content: "\e637";
}

.icon-shenghuohuijiminzhupingyigongzuo:before {
    content: "\e638";
}

.icon-tuanxuezhaoxin:before {
    content: "\e639";
}

.icon-tuanxuequantidahui:before {
    content: "\e63a";
}

.icon-xiaoyouhui:before {
    content: "\e63b";
}

.icon-xiuxue:before {
    content: "\e63c";
}

.icon-xinlijiankangjiaoyu:before {
    content: "\e63d";
}

.icon-xueshengdangjiangongzuoduiwuganbulihui:before {
    content: "\e63e";
}

.icon-xueshengdangjiangongzuoduiwuquantidahui:before {
    content: "\e63f";
}

.icon-miance:before {
    content: "\e640";
}

.icon-xueshengdangzhibudahui:before {
    content: "\e641";
}

.icon-zhishijingsai:before {
    content: "\e642";
}

.icon-zhuantixuexihui:before {
    content: "\e643";
}

.icon-zhongzhifuxiu:before {
    content: "\e644";
}

.icon-yangzhenningjiangxuejin:before {
    content: "\e645";
}

.icon-zongzhiweiyuanhuidangyuandahui:before {
    content: "\e646";
}

.icon-zizhuzigerending:before {
    content: "\e647";
}

.icon-xueyuandebiyeshengjiuyepeixunhuodong:before {
    content: "\e648";
}

.icon-zichanguanli:before {
    content: "\e649";
}

.icon-Vxueshenghuodongzhongxinchangdishenqing:before {
    content: "\e64a";
}

.icon-xueshengzhengbuban:before {
    content: "\e64b";
}

.icon-biyeshixi:before {
    content: "\e64c";
}

.icon-Vxueshenggongyuchangdishiyongshenqing:before {
    content: "\e64d";
}

.icon-Vxinlizixun:before {
    content: "\e64e";
}

.icon-banxuepinggu:before {
    content: "\e64f";
}

.icon-caigou:before {
    content: "\e650";
}

.icon-biyeshengjiuyeshouxubanli:before {
    content: "\e651";
}

.icon-biyeshengbanligaipaigongzuoliucheng:before {
    content: "\e652";
}

.icon-fawenguanli:before {
    content: "\e653";
}

.icon-falvyushehuigongzuoxueyuanzhixuesheng:before {
    content: "\e654";
}

.icon-fuchachengji:before {
    content: "\e655";
}

.icon-chengjishouji:before {
    content: "\e656";
}

.icon-gaoxiaozhuxuejin:before {
    content: "\e657";
}

.icon-gaoxiaobiyeshengdengji:before {
    content: "\e658";
}

.icon-gongcheguanli:before {
    content: "\e659";
}

.icon-huochepiaoxueshengyouhuiqiabanli:before {
    content: "\e65a";
}

.icon-goumaibangongyongpin:before {
    content: "\e65b";
}

.icon-kaowuguanligongzuo:before {
    content: "\e65c";
}

.icon-guojiazhuxuedaikuan:before {
    content: "\e65d";
}

.icon-mianzhihangguojiaxueshengtizhijiankangbiaozhun:before {
    content: "\e65e";
}

.icon-keyanguanli:before {
    content: "\e65f";
}

.icon-pinqingwaipinjiaoshi:before {
    content: "\e660";
}

.icon-pinggugongzuo:before {
    content: "\e661";
}

.icon-shiyongyinzhang:before {
    content: "\e662";
}

.icon-qingongzhuxuegongzuoliucheng:before {
    content: "\e663";
}

.icon-shouwenliucheng:before {
    content: "\e664";
}

.icon-tiyuketeshuchuli:before {
    content: "\e665";
}

.icon-xiaoneixueshengqingongzhuxueshanggang:before {
    content: "\e666";
}

.icon-xuejiyidonggongzuoliucheng:before {
    content: "\e667";
}

.icon-tuiwufuxueshengmianxiugonggongtiyujunshijinenghejunshili:before {
    content: "\e668";
}

.icon-weijichufen:before {
    content: "\e669";
}

.icon-xueshengICqiabanli:before {
    content: "\e66a";
}

.icon-xiaoqihezuoshixijidi:before {
    content: "\e66b";
}

.icon-xueshengdangan:before {
    content: "\e66c";
}

.icon-zichanpankuiyingdengji:before {
    content: "\e66d";
}

.icon-bangfujinshenqing:before {
    content: "\e66e";
}

.icon-bangongdianhuayewu:before {
    content: "\e66f";
}

.icon-baoxiaodan:before {
    content: "\e670";
}

.icon-caigouxiangmushenhe:before {
    content: "\e671";
}

.icon-caigouxiangmujihua:before {
    content: "\e672";
}

.icon-cheliangtonghangzheng:before {
    content: "\e673";
}

.icon-gongchengbiangengshenpi:before {
    content: "\e674";
}

.icon-gongchengjungongyanshouzhengming:before {
    content: "\e675";
}

.icon-gongchengxiangmujungongchuyanshenhe:before {
    content: "\e676";
}

.icon-gongchengxiangmutuzhishenhe:before {
    content: "\e677";
}

.icon-gonghuichengyuandengji:before {
    content: "\e678";
}

.icon-gonghuichengyuantiaodong:before {
    content: "\e679";
}

.icon-gonghuichengyuanzhuce:before {
    content: "\e67a";
}

.icon-gonghuichengyuanzhuxiao:before {
    content: "\e67b";
}

.icon-gonghuikunnanjin:before {
    content: "\e67c";
}

.icon-gonghuichengyuanzhuxiaodengji:before {
    content: "\e67d";
}

.icon-wangjieshengshenqingjieyehuanbiyeshenpi:before {
    content: "\e67e";
}

.icon-gudingzichanbaosunbaofeishenpi:before {
    content: "\e67f";
}

.icon-zhongyangrenzhengjiekou:before {
    content: "\e600";
}

