<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ashuo.scms.mapper.ScoreMapper">
    <resultMap id="scoreMap" type="com.ashuo.scms.entity.Score">
        <id column="score_id" property="scoreId"/>
        <result column="score" property="score"/>
        <result column="is_break_record" property="isBreakRecord"/>
        <result column="create_time" property="createTime"/>
        <result column="edit_time" property="editTime"/>
        <association property="athlete" javaType="com.ashuo.scms.entity.Athlete">
            <id column="athlete_id" property="athleteId"/>
            <association property="item" javaType="com.ashuo.scms.entity.Item">
                <id column="item_id" property="itemId"/>
                <result column="item_name" property="itemName"/>
                <result column="item_sex" property="itemSex"/>
                <result column="item_unit" property="itemUnit"/>
                <result column="athlete_amount" property="athleteAmount"/>
                <association property="season" javaType="com.ashuo.scms.entity.Season">
                    <id column="se_id" property="seasonId"/>
                    <result column="season_name" property="seasonName"/>
                    <result column="season_status" property="seasonStatus"/>
                </association>
            </association>
            <association property="user" javaType="com.ashuo.scms.entity.User">
                <id column="user_id" property="userId"/>
                <result column="user_no" property="userNo"/>
                <result column="user_sex" property="userSex"/>
                <result column="nickname" property="nickname"/>
                <association property="team" javaType="com.ashuo.scms.entity.Team">
                    <id column="t_id" property="teamId"/>
                    <result column="team_name" property="teamName"/>
                </association>
            </association>
        </association>
    </resultMap>

    <insert id="insertScore" parameterType="com.ashuo.scms.entity.Score"
            useGeneratedKeys="true" keyColumn="score_id" keyProperty="scoreId">
        INSERT INTO score(a_id, score, is_break_record, create_time, edit_time)
        VALUES (#{athlete.athleteId}, #{score}, #{isBreakRecord}, #{createTime}, #{editTime})
    </insert>

    <update id="updateScore" parameterType="com.ashuo.scms.entity.Score">
        UPDATE score
        <set>
            <if test="score!=null and score!=0">score=#{score},</if>
            <if test="isBreakRecord!=null">is_break_record=#{isBreakRecord},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="editTime!=null">edit_time=#{editTime},</if>
        </set>
        WHERE score_id=#{scoreId}
    </update>

    <delete id="deleteScore">
        delete
        from score
        where score_id = #{scoreId}
    </delete>

    <select id="queryScoreByScoreCondition" resultMap="scoreMap">
        SELECT
        s.score_id,
        s.score,
        s.is_break_record,
        s.edit_time,
        a.athlete_id,
        i.item_id,
        i.item_name,
        i.item_sex,
        i.item_unit,
        u.user_id,
        u.user_no,
        u.nickname,
        u.user_sex,
        t.team_id,
        t.team_name
        FROM
        `score` s
        INNER JOIN `athlete` a ON s.a_id = a.athlete_id
        INNER JOIN `user` u ON a.u_id = u.user_id
        INNER JOIN `team` t ON u.t_id = t.team_id
        INNER JOIN `item` i ON a.i_id = i.item_id
        <where>
            <if test="score.athlete!=null and score.athlete.user!=null and score.athlete.user.userId!=null and score.athlete.user.userId!=0">
                AND u.user_id
                = #{score.athlete.user.userId}
            </if>
            <if test="score.athlete!=null and score.athlete.user!=null and score.athlete.user.nickname!=null">AND
                u.nickname LIKE '%${score.athlete.user.nickname}%'
            </if>
            <if test="score.athlete!=null and score.athlete.item!=null and score.athlete.item.itemId!=null and score.athlete.item.itemId!=0">
                AND i.item_id = #{score.athlete.item.itemId}
            </if>
            <if test="score.athlete!=null and score.athlete.user!=null and score.athlete.user.team!=null and score.athlete.user.team.teamId!=null and score.athlete.user.team.teamId!=0">
                AND t.team_id
                = #{score.athlete.user.team.teamId}
            </if>
        </where>
        ORDER BY
        score
        DESC
    </select>

    <select id="queryScoreByItemIdLimit" resultMap="scoreMap">
        SELECT s.score_id,
        s.score,
        s.a_id,
        a.athlete_id,
        i.item_id
        FROM `score` s
        INNER JOIN `athlete` a ON s.a_id = a.athlete_id
        INNER JOIN `item` i ON a.i_id = i.item_id
        WHERE i.item_id = #{itemId}
        ORDER BY s.score
        ${condition}
    </select>


    <select id="queryOneScoreByScoreId" resultMap="scoreMap">
        SELECT s.score_id,
        s.score,
        s.is_break_record,
        s.edit_time,
        a.athlete_id,
        i.item_id,
        i.item_name,
        i.item_sex,
        i.item_unit,
        u.user_id,
        u.user_no,
        u.nickname,
        u.user_sex,
        t.team_id,
        t.team_name
        FROM `score` s
        INNER JOIN `athlete` a ON s.a_id = a.athlete_id
        INNER JOIN `user` u ON a.u_id = u.user_id
        INNER JOIN `team` t ON u.t_id = t.team_id
        INNER JOIN `item` i ON a.i_id = i.item_id
        WHERE s.score_id = #{scoreId}
    </select>


    <select id="queryAthleteScoreDto" resultType="com.ashuo.scms.dto.AthleteScoreDto">
        SELECT
        se.season_name,
        t.team_name,
        u.user_no,
        u.nickname,
        u.user_sex,
        i.item_name,
        i.item_unit,
        s.score,
        s.is_break_record,
        s.edit_time,
        u2.nickname AS scorer
        FROM
        `score` s
        INNER JOIN `athlete` a ON s.a_id = a.athlete_id
        INNER JOIN `user` u ON a.u_id = u.user_id
        INNER JOIN `team` t ON u.t_id = t.team_id
        INNER JOIN `item` i ON a.i_id = i.item_id
        INNER JOIN `season` se ON i.se_id = se.season_id
        INNER JOIN `user` u2 ON i.u_id = u2.user_id
        <where>
            <if test="score.athlete!=null and score.athlete.item!=null and score.athlete.item.itemId!=null and score.athlete.item.itemId!=0">
                AND i.item_id = #{score.athlete.item.itemId}
            </if>
            <if test="score.athlete!=null and score.athlete.user!=null and score.athlete.user.nickname!=null">AND
                u.nickname LIKE '%${score.athlete.user.nickname}%'
            </if>
            <if test="score.athlete!=null and score.athlete.item!=null and score.athlete.item.season!=null and score.athlete.item.season.seasonId!=null and score.athlete.item.season.seasonId!=0">
                AND se.season_id=#{score.athlete.item.season.seasonId}
            </if>
        </where>
        ORDER BY
        i.item_name,
        s.score
    </select>

</mapper>
