<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ashuo.scms.mapper.UserMapper">
    <resultMap id="userMap" type="com.ashuo.scms.entity.User">
        <id column="user_id" property="userId"/>
        <result column="user_no" property="userNo"/>
        <result column="nickname" property="nickname"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_type" property="userType"/>
        <result column="phone" property="phone"/>
        <result column="create_time" property="createTime"/>
        <result column="edit_time" property="editTime"/>
        <association property="team" javaType="com.ashuo.scms.entity.Team">
            <result column="team_id" property="teamId"/>
            <result column="team_name" property="teamName"/>
        </association>
    </resultMap>


    <insert id="insertUser" parameterType="com.ashuo.scms.entity.User"
            useGeneratedKeys="true" keyColumn="user_id" keyProperty="userId">
        INSERT INTO user(
        <if test="userId!=null and userId!=0">
            user_id,
        </if>
        user_no, nickname, username, password,user_sex, user_type, t_id, phone,
        create_time, edit_time)
        VALUES (
        <if test="userId!=null and userId!=0">
            #{userId},
        </if>
        #{userNo}, #{nickname}, #{username},#{password}, #{userSex}, #{userType}, #{team.teamId}, #{phone},
        #{createTime}, #{editTime})
    </insert>

    <delete id="deleteUser">
        DELETE
        FROM USER
        WHERE user_id = #{userId}
    </delete>


    <update id="updateUser" parameterType="com.ashuo.scms.entity.User">
        UPDATE user
        <set>
            <if test="user.userNo!=null">user_no=#{user.userNo},</if>
            <if test="user.nickname!=null">nickname=#{user.nickname},</if>
            <if test="user.username!=null">username=#{user.username},</if>
            <if test="user.password!=null and user.password!=''">password=#{user.password},</if>
            <if test="user.userSex!=null">user_sex=#{user.userSex},</if>
            <if test="user.userType!=null and user.userType!=0">user_type=#{user.userType},</if>
            <if test="user.team!=null and user.team.teamId!=null and user.team.teamId!=0">t_id=#{user.team.teamId},</if>
            <if test="user.phone!=null">phone=#{user.phone},</if>
            <if test="user.createTime!=null">create_time=#{user.createTime},</if>
            <if test="user.editTime!=null">edit_time=#{user.editTime},</if>
        </set>
        WHERE user_id=#{user.userId}
    </update>

    <select id="queryUserByUserCondition" resultMap="userMap">
        SELECT
        u.user_id,
        u.user_no,
        u.nickname,
        u.`username`,
        u.`password`,
        u.user_sex,
        u.user_type,
        u.phone,
        u.create_time,
        u.edit_time,
        t.team_id,
        t.team_name
        FROM
        `user` u
        INNER JOIN `team` t ON u.t_id = t.team_id
        <where>
            <if test="user.userId!=null and user.userId!=null and user.userId!=0">AND u.user_id = #{user.userId}</if>
            <if test="user.userNo!=null">AND u.user_no = #{user.userNo}</if>
            <if test="user.userType!=null and user.userType!=null and user.userType!=0">AND u.user_type =
                #{user.userType}
            </if>
            <if test="user.userNo!=null">AND u.user_no = #{user.userNo}</if>
            <if test="user.username!=null">AND u.username = #{user.username}</if>
            <if test="user.password!=null">AND u.password = #{user.password}</if>
            <if test="user.nickname!=null">AND u.nickname LIKE '%${user.nickname}%'</if>
            <if test="user.team!=null and user.team.team_id!=null and user.team.team_id!=0">AND t.team_id =
                #{user.team.teamId}
            </if>
            <if test="user.team!=null and user.team.teamName!=null">AND t.team_name LIKE '%${user.team.teamName}%'</if>
        </where>
    </select>

</mapper>
